@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(assets/fontes/idroid.otf);
}

*{
    scrollbar-width: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: #17772c;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 390px;
}

header{
    color: #fff;    
    background-color: #17772c;
    margin: auto;
    text-align: center;   
}

header h1{
    margin: auto;
    text-transform: uppercase;
    padding: 25px;
}

#menu{
    text-align: left;
    padding: 10px;
}

#menu a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

#menu a:hover{
    color: #17772c;
    background-color: #7bfc85;
}

main{
    background-color: #7bfc85;
    max-width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
}

#conteudo{
    background-color: #fff;
    min-width: 300px;
    max-width: 50%;
    display: block;
    justify-content: left;
    padding: 30px;
}

#conteudo h2, h3{
    text-transform: uppercase;
    text-align: left;
    font-family: idroid, Arial, Helvetica, sans-serif;
    color: #17772c;
}

#conteudo h3{
    background-color: #baffc085;
}

#conteudo p{
    text-indent: 1.5em;
    line-height: 1.6;
    
}

#conteudo a{
    color: #17772c;
    background-color: #7bfc85;
    font-weight: bold;
    text-decoration: none;
}

#conteudo img{
    width: 100%;
}

.destaqueConteudo{
    color: #17772c;
    font-weight: bold;
}

#extra{
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #c1fafa;
}

#extra h3{
    background-color: #17772c;
    margin: 0;
    color: #fff;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: initial;
}

#extra p{
    padding: 10px;
    margin: 0;
}

#extra ul{
    display: column;
    column-count: 2;
    
}

footer{
    background-color: #17772c;
    color: #51df5d;
    padding: 1px;
    text-align: center;
}

.destaque{
    color: #fff;
    font-weight: bold;
}